
mixin modal() 
	//  start modals
	//- a(href="#choose-city").popup-with-move-anim modal-call 
	div(id="choose-city" ).mfp-hide
		+b.modal-win--choose-city
			h6 Выберите город
			+input('Найти город')
				+icon('search')
			+e.city-wrap
				+e.city-item(href="#").active Москва
				+e.city-item(href="#") Тюмень
				+e.city-item(href="#") Краснодар
				+e.city-item(href="#") Ростов-на-Дону
				+e.city-item(href="#") Москва
				+e.city-item(href="#") Тюмень
				+e.city-item(href="#") Краснодар
				+e.city-item(href="#") Ростов-на-Дону
	// #modal-call
	
	#modal-with-input-tel.form-wrap.zoom-anim-dialog.modal-win.modal-win.modal-win--new.modal-form.mfp-hide.new-modal
		form(action='#')
			.text-center
				.form-wrap__title Введите телефон
				.h6.mb-4 Телефон будет логином, а пароль придет по SMS
				.form-wrap__input-wrap.form-group
					input.form-wrap__input.form-control.text-center.form-control.form-control--new(type='tel' placeholder='Введите телефон' pattern='[+][0-9]{1}[(][0-9]{3}[)][0-9]{3}-[0-9]{2}-[0-9]{2}' inputmode='text')
				// +e.input-wrap
				.form-wrap__btn-wrap
					button.form-wrap__btn.btn.btn-primary.btn-primary-new.btn-js.btn-md.btn-block
						span.animate-js.btn_animate(style='top: 6px; left: 0px; height: 0px; width: 0px;')
						| Отправить
		button.mfp-close(title='Close (Esc)' type='button') ×

	#modal-login.form-wrap.zoom-anim-dialog.modal-win.modal-win.modal-win--new.modal-form.mfp-hide.new-modal
		form(action='#')
			.text-center
				.form-wrap__title Личный кабинет создан
				.h6.mb-4 Введите пароль из SMS
				.form-wrap__input-wrap.form-group
					input.form-wrap__input.form-control.text-center.form-control.form-control--new(type='text' placeholder='Пароль из SMS')
				// +e.input-wrap
				.form-wrap__btn-wrap
					button.form-wrap__btn.btn.btn-primary.btn-primary-new.btn-js.btn-md.btn-block
						span.animate-js.btn_animate(style='height: 0px; width: 0px; top: 8px; left: 0px;')
						| Отправить
		button.mfp-close(title='Close (Esc)' type='button') ×

	// end modals