
mixin modal() 
	//  start modals
	//- a(href="#choose-city").popup-with-move-anim modal-call 
	div(id="choose-city" ).mfp-hide
		+b.modal-win--choose-city
			h6 Выберите город
			+input('Найти город')
				+icon('search')
			+e.city-wrap
				+e.city-item(href="#").active Москва
				+e.city-item(href="#") Тюмень
				+e.city-item(href="#") Краснодар
				+e.city-item(href="#") Ростов-на-Дону
				+e.city-item(href="#") Москва
				+e.city-item(href="#") Тюмень
				+e.city-item(href="#") Краснодар
				+e.city-item(href="#") Ростов-на-Дону
	// #modal-call
	
	// end modals