- const version = '0.0.1'
mixin allcss() 
	link(href="libs/swiper-4.2.0/css/swiper.min.css", rel="stylesheet")
	link(href="libs/ion.rangeSlider-2.2.0/css/ion.rangeSlider.css", rel="stylesheet")
	link(href="libs2/@fancyapps/ui/fancybox.css", rel="stylesheet")
	//- link(href=`css/main.min.css?v=${version}`, rel="stylesheet")
	<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="libs/magnificPopup/magnific-popup.css">
	link(href=`css/main.min.all.css`, rel="stylesheet")
	link(href=`css/main2.min.css`, rel="stylesheet")

mixin allcjs() 
	//- script(src="libs/jquery/jquery.min.js")
	//- script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	//- script(src="libs/swiper/swiper-bundle.min.js")  
	//- script(src="libs/inputmask/inputmask.min.js") 
	//- script(src=`js/common.js?v=${version}`)

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
	<script src="libs/svg4everybody.min.js"></script>
	<script src="libs/magnificPopup/jquery.magnific-popup.min.js"></script>
	<script src="libs/inputmask.min.js"></script>
	<script src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>

	<script src="libs/gijgo-master/combined/js/gijgo.min.js"></script>
	<script src="libs/gijgo-master/combined/js/messages/messages.ru-ru.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script> 
	<script src="libs/swiper-4.2.0/js/swiper.min.js"></script>
	<script src="libs/@fancyapps/fancybox/jquery.fancybox.min.js"></script>
	//- <script src="js/common.js"></script> 
	
	<script src="js/common-start.js"></script>

	script(src=`js/common.js`)
	script(src=`js/common2.js`)