mixin cardSlider(img,slides)
	+b.card-img-wrap(href="#")
		.swiper-container.catalog-item-slider.catalog-item-slider--js
			.swiper-wrapper
				- for (var x = 0; x < slides; x++)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
			.swiper-pagination


mixin catalogTileItem(img,name,transmission,period,price,cost,slides=5)
	+b.catalog-tile-item
		+cardSlider(img,slides)
		+e.text-wrap
			+e.head.row 
				+e.about.col
					+e.name!= name
					+e.transmission!= transmission
				+e.total.col-auto
					+e.period!= period
					+e.price!= price
			.row  
				+e.more.col
					+e.cost!= cost
					+e.details(href="#") Подробнее
				.col-auto
					//- +btn('Заказать в 1 клик').btn.btn-primary
					+e.btn.popup-with-move-anim.data-modal(href="#modal-with-input-tel").btn.btn-primary Заказать в 1 клик


mixin sCatalog(tile,table,string)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Посуточная аренда авто без водителя в&nbsp;Москве				
			+e.filter-row
				+form-wrap.--row
					.properties-row
						+in-c('radio','Все','transmission').--all
						+in-c('radio','Механика','transmission')
						+in-c('radio','Автомат','transmission')
					.properties-row
						+in-c('checkbox','Все').--all
						+in-c('checkbox','Седан')
						+in-c('checkbox','Хэтчбек')
						+in-c('checkbox','Минивен')
						+in-c('checkbox','Внедорожник')
						+in-c('checkbox','Купе')
						+in-c('checkbox','Пикап')
						+in-c('checkbox','Родстер')
						+in-c('checkbox','Универсал')
						+in-c('checkbox','Фургон')
					.properties-row
						+in-c('checkbox','Все').--all
						+in-c('checkbox','Lada')
						+in-c('checkbox','Kia')
						+in-c('checkbox','Hyundai')
						+in-c('checkbox','Renault')
						+in-c('checkbox','Toyota')
						+in-c('checkbox','Volkswagen' ,'checked')
						+in-c('checkbox','Audi')
						+in-c('checkbox','BMW')
						+in-c('checkbox','Mercedes Benz')
					.properties-select.d-block.d-lg-none
						+select('','Любая коробка','Механика','Автомат')
						+select('','Любой кузов','Седан','Хэтчбек','Минивен','Внедорожник')
						+select('','Любая марка')
					+b.filter-result
						+e.left
							+e.all(href="#") 
								+e.all-text.btn-tab-js(data-tab-block="all-filters") Все фильтры
								+e.all-number 9
							+e.reset(href="#") Сбросить
							+e.founded 
								+e.founded-text Найдено 68 авто из 876
								+e.founded-sort.d-block.d-lg-none 
									button.active
										+icon('arrow-down')
									button
										+icon('arrow-up')
						+e.right
							+e.price-filter
								button.active По убыванию цены
								button По возрастанию цены
							+e.display.d-none.d-lg-block
								if tile
									button.active
										+icon('square')
								else
									button
										+icon('square')
								if string
									button.active
										+icon('stroke')
								else
									button
										+icon('stroke')
								if table
									button.active
										+icon('lines')
								else
									button
										+icon('lines')
			+filter()

			+e.catalog-row.row
				+e.left.col-12.col-lg-9
					if tile 
						+e.tile.row
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽','2')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.','5')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽','3')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col-md-6.col-xl-4
								+catalogTileItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
					if table
						+e.tabular
							+e.table-wrap
								table.table.table-bordered.align-middle(style="border-radius:8px")
									thead
										tr
											th Автомобиль
											th Описание
											th 1-2 сут.
											th 3-5 сут.
											th 6-13 сут.
											th 14-29 сут.
											th от 30 сут.
											th Итого на 6 сут.
											th 
									tbody
										mixin rentTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 2900 ₽
												td 2755 ₽
												td 2610 ₽
												td 2320 ₽
												td 2175 ₽
												td 16530 ₽
												td.action-td 
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentTr
										+rentTr
										+rentTr
										+rentTr
							+e.table-wrap
								table.table.table-bordered.align-middle
									thead
										tr
											th Автомобиль
											th Описание
											th Цена в сутки (от 30 суток)
											th Итого в месяц
											th
									tbody
										mixin rentSmTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 16530 ₽
												td 16530 ₽
												td.action-td 
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentSmTr
										+rentSmTr
										+rentSmTr
										+rentSmTr
							+e.table-wrap
								table.table.table-bordered.align-middle
									thead
										tr
											th Автомобиль
											th Описание
											th Выкуп за 12 мес.
											th Выкуп за 24 мес.
											th Выкуп за 36 мес.
											th Первый взнос
											th Итого в сутки на 36 мес.
											th
									tbody
										mixin rentBuyoutTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 2560 ₽/сут.
												td 2560 ₽/сут.
												td 2560 ₽/сут.
												td 0 ₽
												td 900 ₽/сут.
												td.action-td 
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentBuyoutTr
										+rentBuyoutTr
										+rentBuyoutTr
										+rentBuyoutTr
							+e.table-wrap
								table.table.table-bordered.align-middle
									thead
										tr
											th Автомобиль
											th Описание
											th Цена в час
											th Мин. заказ
											th Включено пробега
											th Перепробег
											th Итого 3+1 (вкл. 100 км)
											th
									tbody
										mixin rentHourlyTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 1500 ₽
												td 3+1 час
												td 25 км/час
												td 6 ₽/км
												td 6000 ₽
												td.action-td
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
					if string
						+e.string
							mixin catalogStringItem(img,name,caption,descr,tariff,note,price,period,totalPrice,...priceItems)
								+b.string-item
									+cardSlider(img,5)
									+e.features
										+e.name!= name
										+e.caption!= caption
										+e.descr!= descr
										if tariff
											+e.tariff
												+e.tariff-caption Тариф
													+e.tariff-btn.custom-input.form-check.LABEL
														input.custom-input__input.form-check-input(type="radio" name="tariff")
														span.custom-input__text.form-check-label 1
													+e.tariff-btn.custom-input.form-check.LABEL
														input.custom-input__input.form-check-input(type="radio" name="tariff")
														span.custom-input__text.form-check-label 2
													+e.tariff-btn.custom-input.form-check.LABEL
														input.custom-input__input.form-check-input(type="radio" name="tariff")
														span.custom-input__text.form-check-label 3
													+e.tariff-btn.custom-input.form-check.LABEL
														input.custom-input__input.form-check-input(type="radio" name="tariff")
														span.custom-input__text.form-check-label 4
													+e.tariff-btn.custom-input.form-check.LABEL
														input.custom-input__input.form-check-input(type="radio" name="tariff")
														span.custom-input__text.form-check-label 5
													+e.tariff-content.t-tabs__content--active 2 900 ₽
										if note
											+e.note!= note
									+e.price-block
										+e.price
											+e.price-title!= price
											block
											each item in priceItems
												+e.price-items= item
										+e.total
											+e.period!= period
											+e.total-price= totalPrice 
											+btn('Заказать в 1 клик').btn.btn-primary
											+e.details(href="#") Подробнее
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Аренда от 3 до 5 суток','22755 ₽ в&nbsp;сутки','Итого за 6 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
								+e.price-items.text-success Первый взнос 0 ₽
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','','','22755 ₽ в&nbsp;сутки','Итого за 30 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Выкуп за 24 месяца','от 900 ₽ в&nbsp;сутки','Итого в&nbsp;сутки при выкупе на 24 мес.','900 ₽','Первый взнос 0 ₽ ','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Аренда от 3 до 5 суток','22755 ₽ в&nbsp;сутки','Итого за 3+1 часа (включено 100 км)','16 530 ₽','Минимальная аренда 3 часа','Т+1 час на подачу','На 1 час включено 25 км пробега','Перепробег: 6 ₽/км')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','','','22755 ₽ в&nbsp;сутки','Итого за 30 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Выкуп за 24 месяца','от 900 ₽ в&nbsp;сутки','Итого в&nbsp;сутки при выкупе на 24 мес.','900 ₽','Первый взнос 0 ₽ ','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Аренда от 3 до 5 суток','22755 ₽ в&nbsp;сутки','Итого за 6 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','','','22755 ₽ в&nbsp;сутки','Итого за 30 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Выкуп за 24 месяца','от 900 ₽ в&nbsp;сутки','Итого в&nbsp;сутки при выкупе на 24 мес.','900 ₽','Первый взнос 0 ₽ ','Без залога','Только паспорт и права','Проверка 20 минут')
					+e.show-more.BUTTUN.btn
						+icon('reload')
						| Показать еще авто
				+e.right.col-lg-3
					+b.catalog-summary.d-none.d-lg-flex.FORM
						+e.title Весь парк A7 RENT
						+e.reset(href="#") Сбросить
						+e.list
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Без залога
								div 876
						+e.list
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="radio" name="transmission-aside")
									span.custom-input__text.form-check-label На механике
								div 259
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="radio" name="transmission-aside")
									span.custom-input__text.form-check-label На автомате
								div 215
						+e.list
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Эконом
								div 563
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Бизнес
								div 185
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Премиум
								div 29
						+e.list
							+e.item
								+img('img/sedan.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Седан
								div 563
							+e.item
								+img('img/hatchback.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Хэтчбек
								div 563
							+e.item
								+img('img/minivan.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Минивен
								div 563
							+e.item
								+img('img/suv.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Внедорожник
								div 563
							+e.item
								+img('img/coupe.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Купе
								div 563
							+e.item
								+img('img/pickup-truck.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Пикап
								div 563
							+e.item
								+img('img/roadster.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Родстер
								div 563
							+e.item
								+img('img/station-wagon.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Универсал
								div 563
							+e.item
								+img('img/van.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Фургон
								div 563
						+e.list
							+e.item
								+img('img/audi.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Audi
								div 876
							+e.item
								+img('img/bmw.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label BMW
								div 876
							+e.item
								+img('img/audi.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Audi
								div 876
							+e.item
								+img('img/bmw.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label BMW
								div 876

	// end sCatalog


mixin filter()
	#all-filters.tab-block.tab-block--js.active(style='display: block;')
		//- .container
		//- 	.s-catalog-filter__head
		//- 		.row.align-items-center
		//- 			.col-sm-auto
		//- 				.s-catalog-filter__title
		//- 					| &Vcy;&scy;&iecy; &fcy;&icy;&lcy;&softcy;&tcy;&rcy;&ycy;
		//- 					.s-catalog-filter__title-count 3
		//- 			.col-auto
		//- 				a.s-catalog-filter__link.text-body.btn-tab-js.mr-0(href='#' data-tab-block='basic-filters') &Vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy;&scy;&yacy; &vcy; &pcy;&rcy;&ocy;&scy;&tcy;&ocy;&jcy; &pcy;&ocy;&icy;&scy;&kcy;
		.s-catalog-filter__body
			.container
				.modal-filter
					.row
						.col-xl-4.col-lg-6
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text FERRARI
								.showhide-all__inner(style='display: none;')
									select#simple-filter-brands.form-control.h6(name='simple-filter-brand')
										option.d-none(value='') &Vcy;&scy;&iecy; &mcy;&acy;&rcy;&kcy;&icy;
										option(value='') &Vcy;&scy;&iecy; &mcy;&acy;&rcy;&kcy;&icy;
										option(value='AUDI') AUDI
										option(value='BENTLEY') BENTLEY
										option(value='BMW') BMW
										option(value='CADILLAC') CADILLAC
										option(value='CHERY') CHERY
										option(value='CHEVROLET') CHEVROLET
										option(value='CITROEN') CITROEN
										option(value='DATSUN') DATSUN
										option(value='DODGE') DODGE
										option(value='FERRARI') FERRARI
										option(value='FIAT') FIAT
										option(value='FORD') FORD
										option(value='HAVAL') HAVAL
										option(value='HONDA') HONDA
										option(value='HUMMER') HUMMER
										option(value='HYUNDAI') HYUNDAI
										option(value='INFINITI') INFINITI
										option(value='JAGUAR') JAGUAR
										option(value='JEEP') JEEP
										option(value='KIA') KIA
										option(value='LADA') LADA
										option(value='LAND ROVER') LAND ROVER
										option(value='LEXUS') LEXUS
										option(value='MAZDA') MAZDA
										option(value='MERCEDES-BENZ') MERCEDES-BENZ
										option(value='MINI') MINI
										option(value='MITSUBISHI') MITSUBISHI
										option(value='NISSAN') NISSAN
										option(value='OPEL') OPEL
										option(value='PEUGEOT') PEUGEOT
										option(value='PORSCHE') PORSCHE
										option(value='RAVON') RAVON
										option(value='RENAULT') RENAULT
										option(value='ROLLS-ROYCE') ROLLS-ROYCE
										option(value='SKODA') SKODA
										option(value='SUZUKI') SUZUKI
										option(value='TOYOTA') TOYOTA
										option(value='VOLKSWAGEN') VOLKSWAGEN
										option(value='VOLVO') VOLVO
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text 599
								.showhide-all__inner(style='display: none;')
									select#simple-filter-models.form-control.h6(name='simple-filter-models')
										option(value='') &Vcy;&scy;&iecy; &mcy;&ocy;&dcy;&iecy;&lcy;&icy;
										option(value='599') 599
										option(value='FF') FF
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Gcy;&ocy;&dcy; &vcy;&ycy;&pcy;&ucy;&scy;&kcy;&acy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.modal-filter__range-wrap.showhide-all__inner
									span.irs.js-irs-0
										span.irs
											span.irs-line(tabindex='0')
												span.irs-line-left
												span.irs-line-mid
												span.irs-line-right
											span.irs-min 2 005
											span.irs-max 2 022
											span.irs-from 0
											span.irs-to 0
											span.irs-single 0
										span.irs-grid
										span.irs-bar
										span.irs-shadow.shadow-from
										span.irs-shadow.shadow-to
										span.irs-slider.from
										span.irs-slider.to
									input.input-range.filter-year.irs-hidden-input(type='text' data-min='2005' data-max='2022' tabindex='-1' readonly='')
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &TScy;&vcy;&iecy;&tcy; &kcy;&ucy;&zcy;&ocy;&vcy;&acy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text &tcy;&iecy;&mcy;&ncy;&ocy;-&fcy;&icy;&ocy;&lcy;&iecy;&tcy;&ocy;&vcy;&ycy;&jcy;
								.showhide-all__inner(style='display: none;')
									.color-custom
										input#color-1.color-custom__input.my-filter-check(type='checkbox' value='черный' data-value='#000000')
										label.color-custom__label(style='background:#000000;' for='color-1' title='черный')
									.color-custom.color-custom-light
										input#color-2.color-custom__input.my-filter-check(type='checkbox' value='белый' data-value='#FFFFFF')
										label.color-custom__label(style='background:#FFFFFF;' for='color-2' title='белый')
									.color-custom
										input#color-3.color-custom__input.my-filter-check(type='checkbox' value='серебристый' data-value='#C0C0C0')
										label.color-custom__label(style='background:#C0C0C0;' for='color-3' title='серебристый')
									.color-custom
										input#color-4.color-custom__input.my-filter-check(type='checkbox' value='серый' data-value='#808080')
										label.color-custom__label(style='background:#808080;' for='color-4' title='серый')
									.color-custom
										input#color-5.color-custom__input.my-filter-check(type='checkbox' value='синий' data-value='#00FFFF')
										label.color-custom__label(style='background:#00FFFF;' for='color-5' title='синий')
									.color-custom
										input#color-6.color-custom__input.my-filter-check(type='checkbox' value='темно-синий' data-value='#000080')
										label.color-custom__label(style='background:#000080;' for='color-6' title='темно-синий')
									.color-custom
										input#color-7.color-custom__input.my-filter-check(type='checkbox' value='красный' data-value='#ff0000')
										label.color-custom__label(style='background:#ff0000;' for='color-7' title='красный')
									.color-custom
										input#color-7-ko.color-custom__input.my-filter-check(type='checkbox' value='красно-оранжевый' data-value='#FF4500')
										label.color-custom__label(style='background:#FF4500;' for='color-7-ko' title='красно-оранжевый')
									.color-custom
										input#color-8.color-custom__input.my-filter-check(type='checkbox' value='зеленый' data-value='#008000')
										label.color-custom__label(style='background: #008000;' for='color-8' title='зеленый')
									.color-custom
										input#color-9.color-custom__input.my-filter-check(type='checkbox' value='коричневый' data-value='#A52A2A')
										label.color-custom__label(style='background:#A52A2A;' for='color-9' title='коричневый')
									.color-custom.color-custom-light
										input#color-10.color-custom__input.my-filter-check(type='checkbox' value='бежевый' data-value='#F5F5DC')
										label.color-custom__label(style='background: #F5F5DC;' for='color-10' title='бежевый')
									.color-custom
										input#color-11.color-custom__input.my-filter-check(type='checkbox' value='голубой' data-value='#0000FF')
										label.color-custom__label(style='background: #0000FF;' for='color-11' title='голубой')
									.color-custom.color-custom-light
										input#color-12.color-custom__input.my-filter-check(type='checkbox' value='желтый' data-value='#FFFF00')
										label.color-custom__label(style='background:#FFFF00;' for='color-12' title='желтый')
									.color-custom
										input#color-13.color-custom__input.my-filter-check(type='checkbox' value='темно-красный' data-value='#8B0000')
										label.color-custom__label(style='background:#8B0000;' for='color-13' title='темно-красный')
									.color-custom
										input#color-14.color-custom__input.my-filter-check(type='checkbox' value='фиолетовый' data-value='#EE82EE')
										label.color-custom__label(style='background:#EE82EE;' for='color-14' title='фиолетовый')
									.color-custom
										input#color-15.color-custom__input.my-filter-check(type='checkbox' value='темно-фиолетовый' data-value='#9400D3')
										label.color-custom__label(style='background:#9400D3;' for='color-15' title='темно-фиолетовый')
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &mcy;&iecy;&scy;&tcy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.showhide-all__inner
									.modal-filter__range-wrap
										span.irs.js-irs-1
											span.irs
												span.irs-line(tabindex='0')
													span.irs-line-left
													span.irs-line-mid
													span.irs-line-right
												span.irs-min 4
												span.irs-max 14
												span.irs-from 0
												span.irs-to 0
												span.irs-single 0
											span.irs-grid
											span.irs-bar
											span.irs-shadow.shadow-from
											span.irs-shadow.shadow-to
											span.irs-slider.from
											span.irs-slider.to
										input.input-range.filter-sits.irs-hidden-input(type='text' data-min='4' data-max='14' tabindex='-1' readonly='')
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy; &scy;&icy;&dcy;&iecy;&ncy;&icy;&jcy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.showhide-all__inner
									label.custom-input
										input.custom-input__input.my-filter-check.filter-material(type='checkbox' value='ткань')
										span.custom-input__lab
										span &Tcy;&kcy;&acy;&ncy;&softcy;
									label.custom-input
										input.custom-input__input.my-filter-check.filter-material(type='checkbox' value='кожа')
										span.custom-input__lab
										span &Kcy;&ocy;&zhcy;&acy;
						.col-xl-4.col-lg-6
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Ocy;&bcy;&hardcy;&iecy;&mcy; &bcy;&acy;&gcy;&acy;&zhcy;&ncy;&icy;&kcy;&acy;, &lcy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.modal-filter__range-wrap.showhide-all__inner
									span.irs.js-irs-2
										span.irs
											span.irs-line(tabindex='0')
												span.irs-line-left
												span.irs-line-mid
												span.irs-line-right
											span.irs-min 0
											span.irs-max 6 700
											span.irs-from 0
											span.irs-to 0
											span.irs-single 0
										span.irs-grid
										span.irs-bar
										span.irs-shadow.shadow-from
										span.irs-shadow.shadow-to
										span.irs-slider.from
										span.irs-slider.to
									input.input-range.filter-bag.irs-hidden-input(type='text' data-min='0' data-max='6700' tabindex='-1' readonly='')
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Tcy;&icy;&pcy; &dcy;&vcy;&icy;&gcy;&acy;&tcy;&iecy;&lcy;&yacy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.showhide-all__inner(style='display: none;')
									label.custom-input
										input.custom-input__input.my-filter-check.filter-fuel(type='checkbox' value='бензин' data-value='Бензин')
										span.custom-input__lab
										span &Bcy;&iecy;&ncy;&zcy;&icy;&ncy;
									label.custom-input
										input.custom-input__input.my-filter-check.filter-fuel(type='checkbox' value='дизель' data-value='Дизель')
										span.custom-input__lab
										span &Dcy;&icy;&zcy;&iecy;&lcy;&softcy;
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Ocy;&bcy;&hardcy;&iecy;&mcy; &dcy;&vcy;&icy;&gcy;&acy;&tcy;&iecy;&lcy;&yacy;, &lcy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.modal-filter__range-wrap.showhide-all__inner
									span.irs.js-irs-3
										span.irs
											span.irs-line(tabindex='0')
												span.irs-line-left
												span.irs-line-mid
												span.irs-line-right
											span.irs-min 1
											span.irs-max 6.6
											span.irs-from 0
											span.irs-to 0
											span.irs-single 0
										span.irs-grid
										span.irs-bar
										span.irs-shadow.shadow-from
										span.irs-shadow.shadow-to
										span.irs-slider.from
										span.irs-slider.to
									input.input-range.filter-engine.irs-hidden-input(type='text' data-tip='engine_range' data-min='1' data-max='6.6' tabindex='-1' readonly='')
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Pcy;&rcy;&icy;&vcy;&ocy;&dcy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.showhide-all__inner
									label.custom-input
										input.custom-input__input.my-filter-check.filter-gear(type='checkbox' value='Передний')
										span.custom-input__lab
										span &Pcy;&iecy;&rcy;&iecy;&dcy;&ncy;&icy;&jcy;
									label.custom-input
										input.custom-input__input.my-filter-check.filter-gear(type='checkbox' value='Задний')
										span.custom-input__lab
										span &Zcy;&acy;&dcy;&ncy;&icy;&jcy;
									label.custom-input
										input.custom-input__input.my-filter-check.filter-gear(type='checkbox' value='Полный')
										span.custom-input__lab
										span &Pcy;&ocy;&lcy;&ncy;&ycy;&jcy;
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Mcy;&ocy;&shchcy;&ncy;&ocy;&scy;&tcy;&softcy;, &lcy;.&scy;.
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.modal-filter__range-wrap.showhide-all__inner
									span.irs.js-irs-4
										span.irs
											span.irs-line(tabindex='0')
												span.irs-line-left
												span.irs-line-mid
												span.irs-line-right
											span.irs-min 60
											span.irs-max 660
											span.irs-from 0
											span.irs-to 0
											span.irs-single 0
										span.irs-grid
										span.irs-bar
										span.irs-shadow.shadow-from
										span.irs-shadow.shadow-to
										span.irs-slider.from
										span.irs-slider.to
									input.input-range.filter-power.irs-hidden-input(type='text' data-min='60' data-max='660' tabindex='-1' readonly='')
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Rcy;&acy;&scy;&khcy;&ocy;&dcy; &tcy;&ocy;&pcy;&lcy;&icy;&vcy;&acy;, &lcy;/100&kcy;&mcy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.modal-filter__range-wrap.showhide-all__inner
									span.irs.js-irs-5
										span.irs
											span.irs-line(tabindex='0')
												span.irs-line-left
												span.irs-line-mid
												span.irs-line-right
											span.irs-min 2.6
											span.irs-max 21.3
											span.irs-from 0
											span.irs-to 0
											span.irs-single 0
										span.irs-grid
										span.irs-bar
										span.irs-shadow.shadow-from
										span.irs-shadow.shadow-to
										span.irs-slider.from
										span.irs-slider.to
									input.input-range.filter-flow.irs-hidden-input(type='text' data-min='2.6' data-max='21.3' tabindex='-1' readonly='')
						.col-xl-4
							.row
								.col-xl-12.col-lg-6
									.modal-filter__item.hover-block
										.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
											.col &Lcy;&yucy;&kcy;
											.col-auto
												// тут убираешь класс  .gray  когда будет выбран пункт
												.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
										.showhide-all__inner
											label.custom-input
												input.custom-input__input.my-filter-check.filter-luk(type='radio' name='filter-1' value='неважно' data-value='none')
												span.custom-input__lab
												span &Ncy;&iecy;&vcy;&acy;&zhcy;&ncy;&ocy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-luk(type='radio' name='filter-1' value='да' data-value='да')
												span.custom-input__lab
												span &Dcy;&acy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-luk(type='radio' name='filter-1' value='нет' data-value='нет')
												span.custom-input__lab
												span &Ncy;&iecy;&tcy;
									.modal-filter__item.hover-block
										.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
											.col &Fcy;&acy;&rcy;&kcy;&ocy;&pcy;
											.col-auto
												// тут убираешь класс  .gray  когда будет выбран пункт
												.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
										.showhide-all__inner
											label.custom-input
												input.custom-input__input.my-filter-check.filter-farcop(type='radio' name='filter-2' value='неважно' data-value='none')
												span.custom-input__lab
												span &Ncy;&iecy;&vcy;&acy;&zhcy;&ncy;&ocy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-farcop(type='radio' name='filter-2' value='да' data-value='да')
												span.custom-input__lab
												span &Dcy;&acy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-farcop(type='radio' name='filter-2' value='нет' data-value='нет')
												span.custom-input__lab
												span &Ncy;&iecy;&tcy;
								.col-xl-12.col-lg-6
									.modal-filter__item.hover-block
										.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
											.col &Rcy;&iecy;&jcy;&lcy;&icy;&ncy;&gcy;&icy; &ncy;&acy; &kcy;&rcy;&ycy;&shcy;&iecy;
											.col-auto
												// тут убираешь класс  .gray  когда будет выбран пункт
												.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
										.showhide-all__inner
											label.custom-input
												input.custom-input__input.my-filter-check.filter-reyling(type='radio' name='filter-3' value='неважно' data-value='none')
												span.custom-input__lab
												span &Ncy;&iecy;&vcy;&acy;&zhcy;&ncy;&ocy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-reyling(type='radio' name='filter-3' value='да' data-value='да')
												span.custom-input__lab
												span &Dcy;&acy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-reyling(type='radio' name='filter-3' value='нет' data-value='нет')
												span.custom-input__lab
												span &Ncy;&iecy;&tcy;
									.modal-filter__item.hover-block
										.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
											.col &Tcy;&ocy;&ncy;&icy;&rcy;&ocy;&vcy;&kcy;&acy; &zcy;&acy;&dcy;&ncy;&icy;&khcy; &scy;&tcy;&iecy;&kcy;&ocy;&lcy;
											.col-auto
												// тут убираешь класс  .gray  когда будет выбран пункт
												.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
										.showhide-all__inner
											label.custom-input
												input.custom-input__input.my-filter-check.filter-ton(type='radio' name='my-filter-check' value='неважно' data-value='none')
												span.custom-input__lab
												span &Ncy;&iecy;&vcy;&acy;&zhcy;&ncy;&ocy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-ton(type='radio' name='my-filter-check' value='да' data-value='да')
												span.custom-input__lab
												span &Dcy;&acy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-ton(type='radio' name='my-filter-check' value='нет' data-value='нет')
												span.custom-input__lab
												span &Ncy;&iecy;&tcy;
									.modal-filter__item.hover-block
										.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
											.col &Tcy;&icy;&pcy; &ocy;&khcy;&lcy;&acy;&zhcy;&dcy;&iecy;&ncy;&icy;&yacy; &scy;&acy;&lcy;&ocy;&ncy;&acy;
											.col-auto
												// тут убираешь класс  .gray  когда будет выбран пункт
												.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
										.showhide-all__inner
											label.custom-input
												input.custom-input__input.my-filter-check.filter-ac(type='radio' name='my-filter-ac' value='неважно' data-value='none')
												span.custom-input__lab
												span &Ncy;&iecy;&vcy;&acy;&zhcy;&ncy;&ocy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-ac(type='radio' name='my-filter-ac' value='кондиционер' data-value='кондиционер')
												span.custom-input__lab
												span &Kcy;&ocy;&ncy;&dcy;&icy;&tscy;&icy;&ocy;&ncy;&iecy;&rcy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-ac(type='radio' name='my-filter-ac' value='климат-контроль' data-value='климат-контроль')
												span.custom-input__lab
												span &Kcy;&lcy;&icy;&mcy;&acy;&tcy;-&kcy;&ocy;&ncy;&tcy;&rcy;&ocy;&lcy;&softcy;
									.modal-filter__item.hover-block
										.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
											.col &Mcy;&acy;&gcy;&ncy;&icy;&tcy;&ocy;&lcy;&acy;
											.col-auto
												// тут убираешь класс  .gray  когда будет выбран пункт
												.modal-filter__choice-text.gray &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
										.showhide-all__inner
											label.custom-input
												input.custom-input__input.my-filter-check.filter-multimedia(type='radio' name='my-filter-multimedia' value='неважно' data-value='none')
												span.custom-input__lab
												span &Ncy;&iecy;&vcy;&acy;&zhcy;&ncy;&ocy;
											label.custom-input
												input.custom-input__input.my-filter-check.filter-multimedia(type='radio' name='my-filter-multimedia' value='CD' data-value='CD')
												span.custom-input__lab
												span CD
											label.custom-input
												input.custom-input__input.my-filter-check.filter-multimedia(type='radio' name='my-filter-multimedia' value='CD+AUX' data-value='CD+AUX')
												span.custom-input__lab
												span CD+AUX
											label.custom-input
												input.custom-input__input.my-filter-check.filter-multimedia(type='radio' name='my-filter-multimedia' value='CD+AUX+BLUETOOTH' data-value='CD+AUX+BLUETOOTH')
												span.custom-input__lab
												span CD+AUX+BLUETOOTH
		.s-catalog-filter__line
			.container
				.row.align-items-center
					.col-md.order-md-first.order-last
						.row.align-items-center.justify-content-md-start.justify-content-between
							.col-auto
								.s-catalog-filter__reset(role='link')
									| &Scy;&bcy;&rcy;&ocy;&scy;&icy;&tcy;&softcy; &fcy;&icy;&lcy;&softcy;&tcy;&rcy;&ycy;
							.col-auto
								a.s-catalog-filter__link.text-white.btn-tab-js.mr-0(href='#' data-tab-block='basic-filters') &Vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy;&scy;&yacy; &vcy; &pcy;&rcy;&ocy;&scy;&tcy;&ocy;&jcy; &pcy;&ocy;&icy;&scy;&kcy;
					.col-md-auto.col-6
						label.custom-input
							input.custom-input__input.in_use_now(type='checkbox')
							span.custom-input__lab
							span &Vcy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;  &scy;&iecy;&jcy;&chcy;&acy;&scy;
					.col-md-auto.col-6
						button.s-catalog-filter__btn.btn-tab-js(type='button' data-tab-block='basic-filters') &Ncy;&iecy; &ncy;&acy;&jcy;&dcy;&iecy;&ncy;&ocy;
