mixin topLine()
	+b.top_line2&attributes(attributes)
		// добавил обертку для container
		.container
			+e.row.row
				+e.col-city.col-auto
					+e.indent
						+e.city
							+icon('map-point')
							| Москва
						+e.city-content
							+e.cross
							p Ваш город 
								span Москва ?
							+e.btn-wrap
								+e.confrim(href="#").btn.btn-primary Да, верно
								+e.another-else(href="#choose-city").btn.btn-outline-primary.popup-with-move-anim Нет, другой
				.col-auto.ml-auto.ml-lg-0
					+e.indent
						+e.num(href="tel:+74951384388") +7 495 138 43 88
				.col-auto.d-none.d-lg-block
					+e.indent
						+e.get-call.popup-with-move-anim.data-modal(href="#modal-with-input-tel") Заказать звонок
				.col-auto.d-none.d-lg-block
					+e.indent
						+soc()
							+item-sos('whatsapp')
							+item-sos('telegram')
				.col-auto.d-none.d-lg-block
					+e.indent
						+e.mail(href="mailtp:info@a7.rent") info@a7.rent
				+e.col.col-auto.d-none.d-lg-block
					+e.indent
						+e.sell-auto(href="#")
							+icon('vehicle_car_regular')
							| Сдать свой авто
				.col-auto.d-none.d-lg-block
					+e.indent
						+e.invest(href="#")
							+icon('analysis_graph')
							| Инвестировать
				.col-auto.d-none.d-lg-block
					+e.buy(href="#") Купить франшизу за 99 т.р.