mixin topLine()
	+b.top_line2
		// добавил обертку для container
		.container
			+e.row.row
				+e.col-city.col-auto
					+e.indent
						+e.city
							+icon('map-point')
							| Москва
				.col-auto.ml-auto.ml-md-0
					+e.indent
						+e.num(href="tel:+74951384388") +7 495 138 43 88
				.col-auto.d-none.d-md-block
					+e.indent
						+e.get-call(href="#") Заказать звонок
				.col-auto.d-none.d-md-block
					+e.indent
						+soc()
							+item-sos('whatsapp')
							+item-sos('telegram')
				.col-auto.d-none.d-md-block
					+e.indent
						+e.mail(href="mailtp:info@a7.rent") info@a7.rent
				+e.col.col-auto.d-none.d-md-block
					+e.indent
						+e.sell-auto(href="#")
							+icon('vehicle_car_regular')
							| Сдать свой авто
				.col-auto.d-none.d-md-block
					+e.indent
						+e.invest(href="#")
							+icon('analysis_graph')
							| Инвестировать
				.col-auto.d-none.d-md-block
					+e.buy(href="#") Купить франшизу за 99 т.р.