.menu{
	@include media-breakpoint-up(lg) {

		display: flex;
		text-align: center;
		@include roww(18px);
		flex-wrap: wrap;
	}

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	align-items: center;
	@include media-breakpoint-up(lg) {
		height: 100%;
	}
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
		border-bottom: 1px solid transparent;
		position: relative;
		// max-width: max-content;
		@include mt;
		@media (min-width: 1200px) and (max-width: 1470px) {
			padding: 0;
			max-width: none;
		}
		@include media-breakpoint-up(lg) {
			padding: 0;
			height: 100%;
		}
		&::before {
			content: '';
			@include mt;
			position: absolute;
			display: block;
			width: calc(100% - var(--bs-gutter-x));
			height: 1px;
			bottom: 0;
			left: calc(var(--bs-gutter-x) / 2);
			background-color: transparent;
			@include media-breakpoint-up(lg) {
				bottom: -1px;
			}
		}
		&:hover {
			&::before {
				@include media-breakpoint-up(lg) {
					background-color: #333333;
				}
			}
		}
		&.active {
			&::before {
				@include media-breakpoint-up(lg) {
					position: absolute;
					content: '';
					display: block;
					width: calc(100% - var(--bs-gutter-x));
					height: 1px;
					background-color: #333333;
					bottom: 0;
					left: calc(var(--bs-gutter-x) / 2);
				}
				@include media-breakpoint-up(lg) {
					bottom: -1px;
				}
			}
			&::after {
				position: absolute;
				content: '7';
				display: block;
				width: 16px;
				height: 16px;
				background-color: #EF2C2C;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: rem(10);
				font-weight: 700;
				color: $white;
				right: 0;
				top: -4px;
				@include media-breakpoint-up(lg) {
					right: 0;
					top: -14px;
					top: -7px;
				}
				@include media-breakpoint-up(xl) {
					top: 13px;
				}
			}
		}
	}
	a{
		display: block;
		padding: 0 calc(var(--bs-gutter-x) / 2);
		text-transform: uppercase;
		@media (min-width: 1200px) and (max-width: 1470px) {
			padding: 0 10px;
			font-size: rem(14);
		}
		@include media-breakpoint-up(lg) {
			padding: 0 calc(var(--bs-gutter-x) / 2);
			height: 100%;
			display: flex;
			align-items: center;

		}
		&.text-success {
			font-weight: 600;
		}
	}
}



.toggle-menu-mobile {
	--h: #{em(2)};
	--color: #{$primary};
	--position: calc(var(--h) * 2);
	&.on span {
		--color: transparent;
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h)* 12);
	position: relative; 
	font-size: 32px;
	width: 1em;
	background-color: #F6EE25;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
		@include a-cent(y);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}
.menu-mobile {
	height: 100%;
	// font-size: 24px;
	&__inner {
		height: 100%;
	}
	@include media-breakpoint-up(lg) {
		height: auto;
		padding-bottom: 30px;
		font-size: 16px;
	} 

		.menu {
			display: block;
			// margin-bottom: 1rem;
			@include media-breakpoint-up(lg) {
				columns: 2;
				margin-top: 30px;
				margin-bottom: 0;
			}
			@media (min-width: 992px) and (max-width: 1200px) {
				padding-top: 20px;
			}
			li {
				margin-left:  0 !important;
				// margin: 0;
				margin-right: 0 !important;
				@include media-breakpoint-up(lg) {
					// margin-left: 1.1em;
					border: none;
					// margin-bottom: 1rem;
				}
				text-align: left;
			}
			a {
				position: relative;
				// font-size: 16px; 
				// font-size: 24px;
				@include media-breakpoint-up(lg) {
				}  

		}
		} 
	&__wrap {
		display: flex;
		flex-direction: column;
	}
	&__icon-wrap{
		display: inline-block;
		text-align: center;
		width: em(28);
		margin-right: 5px;
		position: relative;
		top: em(3);
		.icon {
			font-size: em(20);
			flex: 0 0 auto;
		}
	}
	@include media-breakpoint-down(lg) {
		li{
			border-bottom: 1px solid #EAEAEA;
		}
	}
	&__buy {
		padding: rem(9) rem(19);
		color: $white;
		position: relative;
		background-color: $gray-900;
		display: block;
		// font-size: 24px;
		&:hover {
			color: #f6ee25;
		}
	}
	&__input-wrap {
		margin-bottom: 10px;
		max-width: calc(100% - 20px);
		margin-left: auto;
		margin-right: auto;
		color: $gray-600;
		position: relative;
		.icon {
			position: absolute;
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			font-size: rem(20);
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__input {
		padding: rem(10) rem(15);
		border-radius: 8px;
		@include media-breakpoint-only(lg) {
			width: rem(309);
		}
		@include media-breakpoint-up(lg) {
			width: rem(462);
		}
	}
	&__indent {
		padding-bottom: 0;
		border-bottom: none;
		// display: flex;
		// padding-top: 9.5px;
		// padding-bottom: 12px;
		// padding-left: 10px;
		.menu-mobile__num {
			// margin-right: rem(10);
		}
	}
	&__link {
		display: flex;
		align-items: center;
		// font-size: 24px;
		color: $gray-900;
		
	}
	&__login-in {
		display: flex;
		align-items: center;
		font-size: rem(14);
		// text-transform: uppercase;
		color: $gray-900; 
	}
	&__online-pay {
		border-bottom: 1px solid #EAEAEA;
		padding-top: 9.5px;
		padding-bottom: 9.5px;
		padding-left: 10px;
		margin-bottom: 9.5px;
		font-weight: 600;
		font-size: 14px;
		color: #19BB70;
		text-transform: uppercase;
		display: block;
	}
	.soc {
		justify-content: flex-start;
		&__item {
			// width: 20px;
			// height: 20px;
			width: auto;
			height: auto;
			border: none;
			.icon {
				@include mt;
				font-size: 1.4em;
				&-whatsapp {
					color: #40A86F;
				}
				&-telegram {
					color: #3BA4C4;
				}
			}
			&:hover {
				.icon {
					&-whatsapp {
						color: #348759;
					}
					&-telegram {
						color: #287288;
					}
				}
			}
		}
	}
	&__num {
		font-weight: 600;
		color: $gray-900;
		// font-size: rem(14);
	}
	&__get-call {
		// color: $gray-600; 
		// text-decoration: dashed !important;
		// text-decoration-line: underline !important;
		padding: 7.5px 10px;
		border-bottom: 1px solid #eaeaea;
		display: block;
		text-transform: uppercase;
	}
	font-size: 24px;
	&__mail {
		// font-size: rem(14);
		color: $gray-600;
	}
	.menu {
		height: auto;
		@include media-breakpoint-up(lg) {
		padding-top: 12.5px;
		}
		li {
			@include media-breakpoint-up(lg) {
				// max-width: max-content;
				// margin-left: auto;
				// margin-right: auto;
			}
		}
		a {
			padding: 7.5px 10px;
		}
	}

	&__container {
		@include media-breakpoint-down(lg) {
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
@include media-breakpoint-up(lg) {
	.menu-mobile {
		@include mt;
		width: 100%;
		background: $white;
		display: block;
		// height: 100%;
		position: absolute;
		z-index: 999;
		&__inner {
			margin-top: 122px;
			border-top: 1px solid #E8E8E8;
		}
		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}
		&:not(.active){
			transform: translate3d(0, -120%,0);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
	}
}
.menu-mobile__inner {
	@media (min-width: 992px) and (max-width: 1200px) {
		margin-top: 164px;
	}
	@media (min-width: 1200px) and (max-width: 1470px) {
		margin-top: 122px;
		max-height: calc(100% - 199px);
	}
}
@include media-breakpoint-down(lg) {

	
	.menu-mobile {
		position: fixed !important;
		z-index: 999;
		padding-top: 12px;
		// max-width: 85%;
		height: calc(var(--vh, 1vh) * 100);
		width: 100%;
		top: 0;
		// left: 0;
		right: 0;
		background-color: $body-bg;
		&:not(.active){
			transform: translate3d(0, -120%,0);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;
	
		
		.toggle-menu-mobile { 
			margin-left: -15%;
			position: absolute; 
			left: 0;
			right: auto;
			color: #FFF;
			top: 10px;
			z-index: 9999; 
			span:after,
			span:before {
				--color: #ffffff;
			}
		}
		&__inner {
			padding: rem(20) 0;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			@include mt(.3s);
			transition-delay: .4s;
			opacity: var(--opacity);
			margin-top: 120px;
			border-top: 1px solid #E8E8E8;
			max-height: calc(100% - 120px);
		}
	
		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}
	
 
	}

}