.top-nav2 {
	// background: svg-load('../svg/check.svg',  stroke=$primary); 
	// 
	position: relative !important;
	border-bottom: none;
	z-index: 1001;
	&__row {
		align-items: center;
	}
	&__col {
		padding-top: rem(14);
		padding-bottom: rem(14);
		&--2 {
			padding-top: 0;
			padding-bottom: 0;
			align-self: stretch;
		}
	}
	&__input-wrap {
		margin-bottom: 0;
	}
	&__input {
		padding: rem(10) rem(15);
		border-radius: 8px;
		@include media-breakpoint-only(lg) {
			width: rem(309);
		}
		@include media-breakpoint-up(lg) {
			width: rem(462);
		}
	}
	.toggle-menu-mobile {
		padding: rem(13) rem(35) rem(13) rem(15);
		background: #F6EE25;
		border-radius: 8px;
		color: $gray-900;
		height: 46px;
		width: auto;
		@include media-breakpoint-up(lg) {
			width: auto;
		}
		p {
			font-size: rem(14);
			margin-bottom: 0;
			text-transform: uppercase;
			margin-right: rem(10);
		}
		span {
			background-color: $gray-900;
			font-size: rem(20);
			right: 15px;
			&:before {
				background-color: $gray-900;
				font-size: rem(20);
				top: -9px;
			}
			&:after {
				background-color: $gray-900;
				font-size: rem(20);
				top: 9px;
			}
		}
		&.on {
			span {
				background-color: transparent;
				&:before {
					top: 0;
				}
				&:after {
					top: 0;
				}
			}
		}
	}
	&__login-in {
		display: flex;
		align-items: center;
		font-size: rem(14);
		text-transform: uppercase;
		color: $gray-900;
		.icon {
			flex: 0 0 auto;
			font-size: rem(20);
			margin-right: rem(5);
		}
	}
	// &__city {
	// 	font-size: rem(14);
	// 	color: #1D1D1B;
	// 	display: flex;
	// 	align-items: center;
	// 	line-height: 1.40em;
	// 	.icon {
	// 		font-size: rem(20);
	// 		margin-right: rem(7);
	// 		flex: 0 0 auto;
	// 	}
	// }

	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {}
}


