mixin menu-toggle()
	+b.toggle-menu-mobile--js
		p меню
		span

mixin trop-list()
	+e.container.container
		ul.menu
			li 
				a(href='#').active Главная
			li
				a(href='#') Условия аренды
			li
				a(href='#') Публичная оферта
			li
				a(href='#') Проверка
			li
				a(href='#') Доставка
			li
				a(href='#') О компании
			li
				a(href='#') Новости
			li
				a(href='#') Отзывы
			li
				a(href='#') Контакты
			li
				a(href='#') Карта сайта

mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+e.inner 
			//- .container
			+e.wrap.d-block.d-lg-none
				+search()
				+e.buy.text-center(href="#") Купить франшизу за 99 т.р.
				ul.menu
					li
						a(href="#")
							+e.icon-wrap
								+icon('vehicle_car_regular')
							| Сдать свой авто
					li
						a(href="#")
							+e.icon-wrap
								+icon('analysis_graph')
							| Инвестировать
					li
						a.popup-with-move-anim.data-modal(href="#modal-with-input-tel")
							+e.icon-wrap
								+icon('account')
							| Войти
					li
						a.text-success(href="#") Онлайн-оплата
				//- +e.indent--2
				//- 	+e.mail(href="mailtp:info@a7.rent") info@a7.rent
				//- +e.indent
				//- 	+e.num(href="tel:+74951384388") +7 495 138 43 88
				//- 	+soc()
				//- 		+item-sos('whatsapp')
				//- 		+item-sos('telegram')
				+e.indent--2
					+e.get-call.popup-with-move-anim.data-modal(href="#modal-with-input-tel") Заказать звонок
				//- +e.indent--2
			//- +mnu().d-block.d-xl-none
			+trop-list
			//- +topLine().d-block.d-lg-none
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav2.block-with-lazy
		.container
			+e.row.row
				+e.col.col-auto
					a(href="#") 
						+logo
				+e.col.col.col-xl-auto.d-none.d-lg-block
					+search()
				+e.col--2.col.d-none.d-xl-block
					//- .menu-mobile.menu-mobile--js
					//- 	.menu-mobile__inner
							//- +menu-toggle()
					+mnu()
				+e.col.col-auto.d-none.d-lg-block.ml-auto
					+e.login-in.popup-with-move-anim.data-modal(href="#modal-with-input-tel")
						+icon('account')
						| Войти
				+e.col.col-auto.ml-auto.ml-lg-0
					+menu-toggle()
					//- +mob-mnu()
			//- .row
	// end top-nav