mixin menu-toggle()
	+b.toggle-mnu.toggle-mnu-1
		p меню
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto
					a(href="#") 
						+logo
				+e.col.col.d-none.d-lg-block
					+input("Поиск авто: audi, поло, минивен, двухдверный, черный")
				.col.d-none.d-lg-block
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							//- +menu-toggle()
							+mnu()
				.col-auto.ml-auto
					+menu-toggle()
			//- .row
	// end top-nav