mixin markItem()
	label.mark-block__col.col-xl-2.col-lg-3.col-md-3.col-sm-4.col-6
		input.mark-block__input(type='checkbox')
		a.mark-block__item(href="#")
			span.row
				span.mark-block__img-wrap.col-xl-auto
					img(src='img/mark-2.png', data-src='img/mark-2.png', alt='', title='')
				span.col
					span.mark-block__title
						span.tdu.myb Mercedes Benz
					span.small
						strong.mcnt 25 авто
						|  
						span.text-gray-400 авто
mixin s-content(data)
	// start s-content
	+b.s-content.section#s-content&attributes(attributes)
		.container
			+e.title Наш парк по коробке передач
			+b.form-wrap
				+e.inc-wrap
					+in-c('radio', '', 'transmission')
						+e.wrap(href="#").active
							+e.SPAN.text.form-check-label Механика
							+e.SPAN.num 215
					+in-c('radio', '', 'transmission')
						+e.wrap
							+e.SPAN.text.form-check-label Автомат
							+e.SPAN.num 254
			+e.title Наш парк по типу кузова
			+b.form-wrap
				+e.inc-wrap--2
					+in-c('checkbox', '', 'carcase')
						+e.wrap--2
							+img('img/sedan.png')
							+e.SPAN.text.form-check-label Седан
							+e.num 24
					+in-c('checkbox', '', 'carcase')
						+e.wrap--2
							+img('img/hatchback.png')
							+e.SPAN.text.form-check-label Автомат
							+e.num 254
					+in-c('checkbox', '', 'carcase')
						+e.wrap--2
							+img('img/minivan.png')
							+e.SPAN.text.form-check-label Седан
							+e.num 24
					+in-c('checkbox', '', 'carcase')
						+e.wrap--2
							+img('img/suv.png')
							+e.SPAN.text.form-check-label Автомат
							+e.num 254
					+in-c('checkbox', '', 'carcase')
						+e.wrap--2
							+img('img/coupe.png')
							+e.SPAN.text.form-check-label Седан
							+e.num 24
					+in-c('checkbox', '', 'carcase')
						+e.wrap--2
							+img('img/pickup-truck.png')
							+e.SPAN.text.form-check-label Автомат
							+e.num 254
					+in-c('checkbox', '', 'carcase')
						+e.wrap--2
							+img('img/roadster.png')
							+e.SPAN.text.form-check-label Седан
							+e.num 24
					+in-c('checkbox', '', 'carcase')
						+e.wrap--2
							+img('img/station-wagon.png')
							+e.SPAN.text.form-check-label Автомат
							+e.num 254
					+in-c('checkbox', '', 'carcase')
						+e.wrap--2
							+img('img/van.png')
							+e.SPAN.text.form-check-label Автомат
							+e.num 254
			+e.title Наш парк по маркам авто
			+e.row.row
				-for(i=1; i<=15; i++)
					+markItem()
	// end s-content