
// start .header
.header2 {
	padding-top: rem(30);
	padding-bottom: 0;
	margin-bottom: 0;
	background-color: #333333;
	@include media-breakpoint-up(sm) {
		margin-bottom: 0;
	}
	@include media-breakpoint-up(lg) {
		padding-bottom: rem(30);
	}
	&__col {
		@include media-breakpoint-down(sm) {
			width: 100%;
			padding-right: 0;
			padding-left: 0;
		}
	}
	&__wrap {
		background-color: #fff;
		padding: rem(18) rem(10) rem(10);
		max-width: rem(520);
		margin-left: auto;
		margin-right: auto;
		position: relative;
		&:before, &:after {
			content: '';
			position: absolute;
			display: block;
			width: 50%;
			height: 100%;
			background-color: #fff;
			top: 0;
		}
		&:before {
			left: -50%;
		}
		&:after {
			right: -50%;
		}
		@include media-breakpoint-up(lg) {
			padding: rem(28) rem(30) rem(30);
			border-radius: 12px;
			&:before, &:after {
				content: unset;
			}
		}
		@include media-breakpoint-only(lg) {
			padding: rem(28) rem(16) rem(30);
		}
		@include media-breakpoint-up(sm) {
			padding: rem(18) rem(20) rem(10);
		}
		.h1 {
			font-size: rem(24);
			font-weight: 600;
			margin-bottom: rem(13);
		}
	}
	.form-wrap {
		&__inc-wrap {
			display: flex;
			// border-radius: 8px;
			// overflow: hidden;
			margin-bottom: rem(15);
			@include media-breakpoint-down(lg) {
				// border-radius: 12px;
				flex-wrap: wrap;
			}
		}
		.custom-input {
			padding: rem(7) rem(10);
			margin-bottom: 0;
			&:nth-child(1){
				@include media-breakpoint-up(lg){
					
					--br: 8px 0 0 8px;
				}
				--br: 8px 0 0 0;
			}
			&:last-child{
					@include media-breakpoint-up(lg){
						--br: 0 8px 8px 0;
						
					}
					--br: 0 0 8px 0;
				}
				@include media-breakpoint-down(lg){
					&:nth-child(1),
					&:nth-child(2){
						margin-bottom: -1px;
					}
					&:nth-child(2),
					&:nth-child(4){
						margin-left: -1px;
					}
					&:nth-child(2) {
						--br: 0 8px 0 0;
					}
					&:nth-child(3) {
						--br: 0  0  0 8px;

					}
				}
			
			font-size: rem(14);
			&:not(:last-child){
				@include media-breakpoint-up(lg){

					margin-right: -1px;
				}
			}
			// border: 1px solid #E8E8E8;
			// display: flex;
			// align-items: center;
			// justify-content: center;
			position: relative;
			text-align: center;
			display: block;
			width: 50%;
			@include media-breakpoint-down(lg) {
				&:nth-child(2n + 1) {
					&:after {
						content: '';
						position: absolute;
						display: block;
						height: 100%;
						width: 1px;
						background-color: #E8E8E8;
						top: 0;
						right: 0;
					}
				}
			}
			@include media-breakpoint-up(lg) {
				&:not(:last-child) {
					&:after {
						content: '';
						position: absolute;
						display: block;
						height: 100%;
						width: 1px;
						background-color: #E8E8E8;
						top: 0;
						right: 0;
					}
				}
			}
			@include media-breakpoint-only(lg) {
				padding: rem(7) rem(4);
			}
			@include media-breakpoint-up(lg) {
				width: 100%;
				// max-width: rem(120);
				// &:first-child {
				// 	border-radius: 8px 0px 0px 8px;
				// }
				// &:last-child {
				// 	border-radius: 0px 8px 8px 0px;
				// }
			}
			span {
				font-size: rem(14);
				position: relative;
				z-index: 123;
			}
			// .border-bottom {
			// 	&:before {
			// 		content: '';
			// 		position: absolute;
			// 		display: block;
			// 		width: 100%;
			// 		height: 1px;
			// 		background-color: #E8E8E8;
			// 		bottom: 0;
			// 		left: 0;
			// 	}
			// }
			&__input {
				pointer-events: none;
				position: absolute;
				width: 100%;
				height: calc(100% + 0px);
				height: 100%;
				left: 0;
				top: 0;
				z-index: 2;
				border: 1px solid #E8E8E8;
				opacity: 1;
				margin-top: 0;
				margin-left: 0;
				top: 0px;
				left: 0;
				border-radius: var(--br);
				background-color: transparent;
				@include media-breakpoint-up(lg) {
					// height: calc(100% + 2px);
					top: 0px;
				}
				&:checked {
					border-color: #F6EE25;
					z-index: 4;
					background-color: #FDFBCD;
				}
			}
		}
		&__submit {
			width: 100%;
			font-weight: 400;
			font-size: rem(14);
			text-transform: uppercase;
			padding: rem(12.5) rem(10);
			border-radius: 8px;
		}
		&__date-picker{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: rem(15);
			@include roww(10px);
			input {
				padding: 5px rem(0) 5px rem(15);
				border-radius: 8px;
				font-size: rem(14);
				color: #1D1D1B;
				@include media-breakpoint-up(sm) {
					padding: 5px rem(25);
				}
			}
			.gj-datepicker {
				@include media-breakpoint-down(lg) {
					width: calc(100% - 10px) !important;
				}
			}
			.dash {
				display: block;
				width: 16px;
				height: 1.5px;
				background-color: $gray-900;
				margin-top: 26px;
				flex: 0 0 auto;
				@include media-breakpoint-down(lg) {
					width: 10px;
				}
			}
			.btn-outline-secondary {
				padding: 7px 7px 7px 0;
				width: auto;
				border-radius: 0 8px 8px 0;
			}
			.gj-icon {
				font-size: rem(20);
				background-size: 20px !important;
				position: static !important;
			}
			.gj-datepicker-bootstrap {
				// width: 74px;
				width: 100%;
			}
		}
		&__date-item {
			// @include media-breakpoint-down(lg) {
			// 	width: calc(100% - 10px) !important;
			// }
			p {
				margin-right: 10px;
				margin-left: auto;
				@include media-breakpoint-down(sm) {
					text-align: center;
				}
			}
			&--2 {
				p {
					margin-left: 10px;
					margin-right: auto;
				}
				.gj-datepicker {
					margin-left: auto;
				}
			}
		}
		p {
			font-size: rem(14);
			color: $gray-600;
			margin-bottom: rem(8);
		}
	}
	&__button-wrap {
		position: relative;
		height: 100%;
		@include media-breakpoint-down(lg) {
			padding-bottom: rem(34);
		}
	}
	.swiper-pagination {
		// bottom: 10px !important;
		&-bullet {
		// 	width: 5px;
		// 	height: 5px;
		// 	background-color: #fff;
		// 	&::before {
		// 		content: unset;
		// 	}
		// 	margin-left: 0 !important;
		// 	margin-right: 0 !important;
		// 	&:not(:last-child) {
		// 		margin-right: rem(5) !important;
		// 	}
		// 	&-active {
		// 		background-color: #F6EE25;
		// 		transform: scale(1);
		// 	}
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
	}
	&__slider {
		max-width: rem(572);
		margin-left: auto;
		margin-right: auto;
	}
	&__slide {
		@include block(572, 260);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&.revert {
				transform:matrix(-1.00,0.00,0.00,1.00,0,0);
			}
		}
		
	}
	.swiper-button-hand {
		top: auto;
		display: none;
		@include media-breakpoint-up(lg) {
			display: flex;
		}
		&-prev {
			left: auto;
			right: 61px;
		}
		&-next {
			right: 0;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 
	
} // end.header
.gj-picker {
	padding: 10px;
	text-align: center;
}

.swiper-button-hand {
	background-color: rgba($color: #fff, $alpha: .2);
	// opacity: 0.2;
	color: #fff;
	border-radius: 8px;
	width: 46px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	.icon {
		font-size: rem(20);
	}
}