mixin header()
	// start header
	+b.HEADER.header2#header&attributes(attributes)
		+e.button-wrap
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(i,c)
						+e.slide.swiper-slide(style=`--bg:${c}` href="#")
							picture.container
								source(media="(min-width: 992px )"  srcset=`img/${i}-desk.jpg`)
								+img(`img/${i}-mob.jpg`)
					+slide(`1`,`#eaff03`)
					+slide(`2`,`#fe0a00`)
					+slide(`3`,`#10058f`)
			
			.swiper-pagination
		.container
			.row
				+e.col.col-lg-6.order-2.order-lg-1
					+e.wrap
						.h1.text-center Аренда автомобилей без залога
						+b.form-wrap
							+e.inc-wrap
								+in-c('radio', 'Посуточная', 'rent')
								+in-c('radio', 'Долгосрочная', 'rent')
								+in-c('radio', 'С выкупом', 'rent')
								+in-c('radio', 'С водителем', 'rent')
							+e.date-picker.date-picker-block-js
								+e.date-item.label-date-picker-js
									p Дата начала
									<input class="startDate" alt='1' />
								.dash
								+e.date-item--2.label-date-picker-js
									p Дата окончания
									<input class="endDate" alt='2' />
							+e.BUTTON.submit(type="submit").btn.btn-primary подобрать
				+e.col.col-lg-6.order-1.order-lg-1
					+arrow()
	// end header