
mixin mnu()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item(itemprop="item" ): a(href= "#" itemprop="url") Условия
		li.menu-item(itemprop="item" ): a(href= "#" itemprop="url") Цены
		li.menu-item.active(itemprop="item" ): a(href= "#" itemprop="url") Новости
		li.menu-item(itemprop="item" ): a(href= "#" itemprop="url") Контакты
		li.menu-item(itemprop="item" ): a.text-success(href= "#" itemprop="url") Онлайн-оплата

//- menu